body {
  background-color: #44ee88;
  padding: 30px;
}

p {
  background-color: #dddddd;
  font-family: 'Montserrat', sans-serif;
  font-size: 30px;
  width: 800px;
  color: #555555;
}

p::first-letter {
  font-size: 50px;
}

p::first-line {
  font-weight: bold;
  color: #222222;
}
