body {
  background-image: url("diagonal.png");
}

header {
  background-color: #333333;
  color: #fafafa;
  font-family: 'Montserrat', sans-serif;
  font-size: 30px;
  letter-spacing: -1px;
  margin: -8px -8px 30px -8px;
  padding: 10px;
}

.scrolltop:nth-of-type(1n+1) {
  display: none;
}

p {
  color: #333333;
  margin: 0 auto 30px auto;
  padding: 15px;
  width: 900px;
}

img {
  margin: 0 247;
  width: 930px;
}

.attribution {
  color: #fafafa;
  font-family: 'Montserrat', sans-serif;
  font-size: 70px;
  font-weight: bolder;
  letter-spacing: -5px;
  margin-top: -120px;
  padding-right: 50px;
  text-align: right;
  text-shadow: 10px 10px 50px #cccccc;
}

.byline {
  color: #aa77aa;
  font-family: 'Montserrat', sans-serif;
  font-size: 30px;
  font-weight: lighter;
  float: right;
  letter-spacing: -1px;
}

.emphasis {
  background-color: #aa77aa;
  font-family: 'Libre Baskerville', serif;
  font-size: 100px;
  font-style: italic;
  letter-spacing: -5px;
  text-align: center;
}

.kicker {
  background-color: #333333;
  color: #fafafa;
  font-family: 'Montserrat', sans-serif;
  font-size: 90px;
  font-weight: bolder;
  letter-spacing: -5px;
  text-align: center;
  text-transform: uppercase;
}

.plain {
  background-color: #33ddcc;
  font-family: 'Oswald', sans-serif;
  font-size: 100px;
  letter-spacing: -2px;
  line-height: 110px;
  padding-bottom: 30px;
  text-align: center;
}
